### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

**.iml
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

/maple-dsl-core/target/
/maple-dsl-core/target/apidocs/src-html/

/maple-dsl-nebula/build/data/storage0/nebula/**/**.log
/maple-dsl-nebula/build/logs/